@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Space+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
}

.intro {
  min-width: 200px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 9%;
}

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.my-logo {
  margin-left: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 50%;
  width: 76px;
  font-size: 18px;
  color: #6070ff;
  font-family: Poppins, Times, serif;
  font-weight: 700;
  text-align: center;
  line-height: 20px;
}

.menu-icon {
  margin-right: 28px;
  margin-top: 14px;
  margin-bottom: 14px;
  width: 18px;
  height: 12px;
  background-image: url("../images/menu-icon.png");
}

.main {
  width: 100%;
  height: 91%;
  background-image: url("../images/shapes-backgroud.png");
  background-size: cover;                      /* <------ */
  background-position: left top;
  display: flex;
  flex-direction: column;
}

.primary-text-container {
  margin-top: 114px;
  margin-left: 24px;
  text-align: left;
  width: 87.2%;
  border: 0;
  line-height: 52px;
}

.primary-text {
  font-size: 40px;
  color: #172b4d;
  font-family: Poppins, Times, serif;
  font-weight: 700;
}

.secondary-text {
  margin-top: 12px;
  margin-left: 24px;
  text-align: left;
  width: 87.2%;
  font-size: 16px;
  color: #172b4d;
  font-family: Poppins, Times, serif;
  font-style: normal;
  font-weight: 400;
  border: 0;
  line-height: 24px;
}

.connect-text {
  margin-top: 12px;
  margin-left: 24px;
  height: 24px;
  width: 32%;
  font-size: 16px;
  color: #7f8cff;
  font-family: Poppins, Times, serif;
  font-style: normal;
  font-weight: 500;
  border: 0;
  line-height: 24px;
}

.socialmedia-icons {
  margin-top: 12px;
  margin-left: 24px;
  width: 45.38%;
  max-width: 400px;
  height: 20px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 12px;
}

.twitter-icon {
  background-image: url("../images/twitter-icon.png");
  width: 20px;
  height: 20px;
}

.linkedin-icon {
  background-image: url("../images/linkedin-icon.png");
  width: 20px;
  height: 20px;
}

.m-icon {
  background-image: url("../images/m-icon.png");
  width: 20px;
  height: 20px;
}

.cat-icon {
  background-image: url("../images/cat-icon.png");
  width: 20px;
  height: 20px;
}

.fingers-icon {
  background-image: url("../images/fingers-icon.png");
  width: 20px;
  height: 20px;
}

.projects {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(327px, 1fr));
  justify-content: space-around;
  align-content: space-evenly;
}

.project {
  box-sizing: border-box;
  display: flex;
  flex-direction: column; 
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 552px;
  background: #ffffff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  flex-grow: 0;
}

#project1 {
  order: 0;
}

#project2 {
  order: 1;
}

#project3 {
  order: 2;
}

#project4 {
  order: 3;
}

#project1 .pimage {
  width: 295px;
  height: 220px;
  background-image: url("../images/p1image.png");
}

#project2 .pimage {
  width: 295px;
  height: 220px;
  background-image: url("../images/p1image.png");
}

#project3 .pimage {
  width: 295px;
  height: 220px;
  background-image: url("../images/p1image.png");
}

#project4 .pimage { 
  width: 295px;
  height: 220px;
  background-image: url("../images/p1image.png");
}

.p-title {
  Width: 295px;
  Height: 36px;
  flex: none;
  order: 0;
  flex-grow: 0;
  align-items: center;
}

.p-title h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172B4D;
}

.details-list {
  display: flex;
  width: 295px;
  Height: 36px;
  align-items: center;
}

.client {
  width: 55px;
  height: 16px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.spacedot {
  width: 8px;
  height: 8px;
  background-image: url("../images/spacedot.png");
}

.role {
  width: 90px;
  height: 16px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7A869A;
}

.year {
  width: 29px;
  height: 16px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7A869A;
}

.p-description {
  width: 295px;
  height: 76px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}


